.m-header {
  padding-top: 1.5625rem;

  .s-logo {
    float: left;
    width: 5rem;
    height: 5.25rem;
    margin-left: 0.625rem;
  }

  .s-logo-text {
    float: left;
    height: 5.25rem;
    line-height: 5.25rem;
    margin-left: 1.25rem;
    font-family: "Circe Extra Light", serif;
    font-size: 3rem;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1.8px;
    white-space: nowrap;
  }

  .s-header-right {
    position: absolute;
    top: 1.4375rem;
    right: 4.6875rem;
    display: flex;
    align-items: center;

    .s-lang-switcher {
      color: #ffffff;
      font-family: "Futura New Light", serif;
      font-size: 1.125rem;
      line-height: 5.25rem;
      text-align: right;

      .s-lang {
        cursor: pointer;
        &.active {
          cursor: default;
          color: #ffffff;
          font-weight: 700;
        }

        color: #d9d9d9;
        text-decoration: none;

        .s-short {
          display: none;
          letter-spacing: 1px;
        }
      }
    }

    .s-hamburger-menu {
      &.expanded .s-navigation {
        background-color: #ffffff;
        text-align: left;
        display: block;
        width: 220px;
        position: absolute;
        z-index: 19;
        right: 0;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        padding: 15px 10px 25px 15px;

        div {
          font-family: "Futura New Book", serif;
          font-size: 16px;
          margin-top: 10px;

          a {
            color: black;
            text-decoration: none;
            line-height: 20px;
          }
        }
      }
      .s-navigation {
        display: none;
      }
      .s-btn {
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        margin-left: 0.625rem;
        transition: border-color 0.15s ease-in;
        z-index: 999;

        button {
          outline: none;

          .hamburger-box {
            width: 28px;
            height: 24px;
            display: inline-block;

            .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
              width: 28px;
              height: 4px;
              background-color: #f58220;
              border-radius: 4px;
              position: absolute;
              transition-property: transform;
              transition-duration: 0.15s;
              transition-timing-function: ease;
            }
          }
        }
      }
    }
  }
}
