<div class="m-footer">
  <div class="s-footer-social-icons">
    <a class="s-icon-link s-icon-link--skype" href="https://join.skype.com/aFP8S5Un7cO7" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/images/socials.svg#skype"></use>
      </svg>
    </a>
    <a class="s-icon-link s-icon-link--fb" href="https://www.facebook.com/groups/AEMBelarus/?pnref=story" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/images/socials.svg#fb"></use>
      </svg>
    </a>
    <a class="s-icon-link s-icon-link--github" href="https://github.com/AEMBelarus" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/images/socials.svg#github"></use>
      </svg>
    </a>
    <a class="s-icon-link s-icon-link--yt" href="https://www.youtube.com/channel/UCL1cAWgeyKHOc0VwuFRqgYw" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/images/socials.svg#yt"></use>
      </svg>
    </a>
    <a class="s-icon-link s-icon-link--email" href="mailto:info@aemcommunity.by" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../../assets/images/socials.svg#email"></use>
      </svg>
    </a>
  </div>
  <div class="s-footer-copyright">
    <span class="s-word">&copy; 2019 All Rights Reserved.</span> <span class="s-word">AEM COMMUNITY BELARUS.</span> <span class="s-word"><a href="http://www.axamit.com/">Sponsored By Axamit</a></span>
  </div>
  <div class="s-footer-logos">
    <div class="s-partner-logo">
      <a href="https://dev.by/" target="_blank" title=""><img alt="Dev.by | Информационный партнер" src="../../assets/images/dev-logo-brand.png" /></a>
      <span translate>partner</span>
    </div>
    <div class="s-axamit-logo">
      <a href="https://www.axamit.com" target="_blank" rel="noopener">
        <img alt="Axamit" title="Axamit" src="../../assets/images/axamit.png" />
      </a>
    </div>
  </div>
</div>
