.s-page-content {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;

  .m-schedule {
    width: 55%;
    padding-top: 3.125rem;
    padding-left: 3.125rem;
    padding-right: 0.625rem;
    color: #ffffff;

    h1 {
      font-family: "Circe Extra Light", serif;
      font-size: 3.375rem;
      line-height: 4.05rem;
      letter-spacing: -3px;
      padding: 0;
      margin: 0;
      font-weight: normal;
    }

    p {
      padding: 0;
      margin: 0;
      font-family: "Futura New Light", serif;
      font-size: 1.75rem;
      line-height: 2.3625rem;

      a {
        color: #f58220;
        text-decoration: underline;

        &:hover {
          color: #f58220;
          text-decoration: none;
        }
      }

      &:first-of-type{
        margin-top: 1rem;
      }
    }

    .s-text p {
      margin-top: 1rem;
    }

    .s-nav-buttons {
      padding-top: 2.1875rem;
      display: flex;
      justify-content: flex-start;

      .s-link-button {
        display: block;
        width: 17.1875rem;
        height: 4.375rem;
        box-sizing: border-box;
        border-radius: 1.875rem;
        border: 1.5px solid #f58220;
        line-height: 4.375rem;
        text-align: center;
        font-family: "Circe Extra Light",serif;
        font-size: 1.75rem;
        font-weight: bold;
        color: #f58220;
        text-decoration: none;
        margin: 0 0.9375rem;

        &:link, &:visited {
          color: #f58220;
        }

        &:hover, &:active {
          background-color: #f58220;
          color: #ffffff;
        }
      }
    }
  }
}
