.s-page-wrapper {
  .s-bg {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .s-bg-preloader {
      width: 100%;
      height: 100%;

    }
  }

  .s-page {
    min-width: 320px;
    max-width: 1505px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;
    padding-bottom: 8.625rem;
    min-height: 100vh;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

